body { 
	background-color:#F7F9FC;
	color:rgb(30,30,30);
	font-family: "Montserrat", sans-serif;
	font-size: 23px;
 }

 h1 {
 	color:#5E3991;
 	font-family: "Amita", serif;
 	font-weight:700 ;
 	font-size: 30px;
 }
 h2 {
 	color:#E71138;
 	font-family: "Jost", sans-serif;
 	font-weight:700 ;
 	font-size: 28px;
 	font-weight: bold;
 }
a{
	text-decoration: none;
	color :#A5B452 ;
	font-weight: bold;
	font-size: 21px;
}
a:hover{
	color :#02C3BD ;
}